{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin {% endblock %}

{% block body %}

    <h1 class="container-fluid d-flex justify-content-center">Gestion des campus</h1>

    <section class="container list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            {% for campu in campus %}
                <tr>
                    <th scope="row">{{ campu.name }}</th>

                    <td>
                        <div class="list-group-item list-group-item-action">
                            <a href="{{ path('admin_campus_update', {'id': campu.id}) }}">Modifier</a> -
                            <a href="{{ path('admin_campus_delete', {'id': campu.id}) }}">Supprimer</a>
                        </div>
                    </td>

                </tr>


            {% endfor %}
            <tr>
                <form name="campusAdmin" action="" method="post">
                    <th scope="row"><input type="text"></th>
                    <td><button type="submit">Ajouter</button></td>
                </form>
            </tr>

            </tbody>
        </table>
    </section>

{% endblock %}
