{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin {% endblock %}

{% block body %}

    <h1>Gestion des campus</h1>

<section class="container list">
    <table class="table table-hover" >
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

    {% for campu in campus %}
        <tr>
            <th scope="row">{{ campu.name }}</a></th>
            <td><a class="list-group-item list-group-item-action" href="{{ path('admin_campus_update', {'id': campu.id}) }}">Modifier</a> -
                <a class="list-group-item list-group-item-action" href="{{ path('admin_campus_delete', {'id': campu.id}) }}">Supprimer</a></td>

        </tr>


    {% endfor %}


        </tbody>
    </table>
</section>

{% endblock %}
