{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin | Import {% endblock %}

{% block body %}


    <h1 class="container-fluid d-flex justify-content-center">Import d'utilisateurs</h1>
<div class="container-fluid d-flex justify-content-center">
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <br>
    <input type="submit" class="btn btn-outline-success" value="Envoyer">
    {{ form_end(form) }}
</div>

{% endblock %}