{% extends 'base.html.twig' %}

{% block title %}

    {{ parent () }} | Create
{% endblock %}

{% block body %}


    <h2> Creer une sortie !</h2>
    <br>


  {{ form_start(sortieForm) }}
  {{ form_widget(sortieForm) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="submit" class="btn btn-primary">Publier la sortie</button>
    <button type="submit" class="btn btn-primary">Annuler</button>

  {{ form_end(sortieForm) }}
<br>




{% endblock %}